/*
 * Empty Stylesheet file.
 */

.opcoesPane {
    -fx-background-image: url("../../../../../resources/treslinha/images/gestor/OpcoesPainelBackground.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: stretch;
}
