/*
 * Empty Stylesheet file.
 */

.aboutPane {
    -fx-background-image: url("../../../../../resources/treslinha/images/gestor/AboutPainelBackground.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: stretch;
}
